body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  position: relative;
  background: pink;
  padding: 100px;
}

.header {
  background: rgba(255, 255, 255, 0);
  margin: auto;
  width: 300px
}
.input-container {
  transform-origin: center;
  text-align: center;
}

input {
  width: 80%;
  height: 3rem;
}
.fixed input {
  height: 4rem;
}

.instructions {
  transform-origin: center;
  overflow: hidden;
 }

 .instruction-text {
   font-size: 1px;
   transition: all ease-in-out 0.2s, transform 1s;
   transform: translateY(100px);
   opacity: 0;
 }

 .instruction-text.show {
    opacity: 1;
    transition: all ease-in-out 0.2s;
    transform: translatey(0);
 }

 .fixed .instruction-text {
  font-size: 20px;
  padding: 1rem;
 }
 .fixed .instructions {
 }
.fixed {
  background: white;
  position: fixed;
  transform-origin: center;
  left: 10vw;
  width: 80vw;
  top: 0;
}
